  .images img, .icon {
      height: 100px;
      width: 100px;
      margin: auto;
      margin-top: 1em;
      border-radius: 50%;
  }

  .iconContainer {
      display: flex;
      align-items: center;
  }